<%- include('./partials/head') %>
    <header>
        <%- include('partials/nav', {current: '/playlists' }); %>
    </header>

    <main>

        <div class="playlist-container">

            <%- include('./partials/playlist-view') %>

                <%- include('./partials/new-playlist') %>

                    <%- include('./partials/fav-playlist') %>
        </div>
    </main>

    <%- include('./partials/foot') %>